.pageTitle {
  display: flex;
  justify-content: center;
  color: black;
}
.examQuestion {
  display: flex;
  justify-content: center;
  color: black;
}

.buttonColor {
  background-color: rgb(96, 32, 156);
  color: white;
}

.root {
  background-color: rgb(65, 114, 65);
}

.wrong-answer:focus {
  background-color: red;
  color: white;
}

.correct-answer:focus {
background-color: rgb(0, 185, 0);
color: white;
}